import AppLayout from '~/core/layouts/app-layout'
import { setMeta } from '~/core/lib/meta'
import { create{{Singular}} } from './api'
import { useResourceForm } from '~/core/hooks/use-resource-form'
import InputField from '~/components/forms/input-field'
import FormActions from '~/components/forms/form-actions'
import type { BreadcrumbItem } from '~/core/types'
import type { {{Singular}} } from './types'
import { useNavigate } from 'react-router'

const title = 'Create {{Singular}}'

export function meta() {
    return setMeta(title)
}

export default function {{Singular}}CreatePage() {
    const navigate = useNavigate()

    const { form, onSubmit, recentlySuccessful, isSubmitting } = useResourceForm<{{Singular}}>({
        create: create{{Singular}},
        onSuccess: ({{singular}}) => {
            navigate(`/{{plural}}/{{dollarVar singular}}.id}`, { replace: true })
        }
    })

    const { register, formState: { errors } } = form

    const breadcrumbs: BreadcrumbItem[] = [
        { title: '{{Plural}}', href: '/{{plural}}' },
        { title: title, href: '/{{plural}}/create' },
    ]

    return (
        <AppLayout breadcrumbs={breadcrumbs}>
            <form onSubmit={onSubmit} className="max-w-lg p-4 space-y-6">
                <InputField
                    id="name"
                    label="Name"
                    autoComplete="name"
                    disabled={isSubmitting}
                    register={register('name')}
                    error={errors.name}
               />

               <FormActions
                   backTo="/{{plural}}"
                   isSubmitting={isSubmitting}
                   recentlySuccessful={recentlySuccessful}
               />
           </form>
       </AppLayout>
   )
}